@font-face {
  font-family: 'New York Small';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/newyorksmall/v1/0n0kC9fUWwq9o9vCqIbBfzRwV49_lSmv.ttf) format('truetype');
}

.logo{
    width: 395px;
    height: 40px;
    top: 65px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;

}

.navbar {
    margin-bottom: 20px;
  }

  .nav-container{
font-family: 'New York Small';
font-size: 20px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0.12em;
text-align: center;

  }