* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "New York Extra Large";
    src: url("../fonts/the-challange-fonts/NewYork/NewYorkExtraLarge-Black.ttf") format("truetype");

}

@font-face {
    font-family: "SF Mono";
    src: url("../fonts/the-challange-fonts/SF\ Mono/SFMonoRegular.woff") format("truetype");

}

@font-face {
    font-family: "SF Pro Text";
    src: url("../fonts/the-challange-fonts/SF\ Text/SF-Pro-Text-Regular.otf") format("truetype");

}

@font-face {
    font-family: "New York Medium";
    src: url("../fonts/the-challange-fonts/NewYork/NewYorkMedium-Medium.ttf") format("truetype");

}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/the-challange-fonts/SF\ Pro\ Display/SFPRODISPLAYREGULAR.OTF") format("truetype");

}

@media (min-width: 768px){
.top-container {
        max-width: 720px;
    }
} 

@media (min-width: 576px){
.top-container {
        max-width: 540px;
    }
} 


.top-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.image-cover {
    width: 100%;
    height: 533px;
    background: url(../assets/images/imageCover.png);
    background-position: center;
    margin: auto;
    margin-top: 100px;
    
}

.first-description {
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    margin: auto;
    padding: 10px;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.article-regtangle {
    width: 304px;
    height: 176px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
}

.card-title {
    color: #000000;
    text-decoration: none;
}

.card-text {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    width: 260px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.button-card {
    top: 350px;
    right: 200px;
    position: absolute;
}

.link-article-card {
    color: #000000;
    text-decoration: none;
}


.second-description {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #000000;
    margin: auto;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    display: flex;


}


.all-articles {
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    white-space: nowrap;
    color: #000000;
    margin: auto;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.article-title {
    font-family: "SF Pro Display";
    font-size: 12px;
    text-align: center;

}


.articles-container {
    grid-gap: 20px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
  

}

.article-reg-title {
    font-family: "SF Pro Display";
    font-size: 12px;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 5%;
}