* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "New York Extra Large";
    src: url("../fonts/the-challange-fonts/NewYork/NewYorkExtraLarge-Black.ttf") format("truetype");

}

@font-face {
    font-family: "SF Mono";
    src: url("../fonts/the-challange-fonts/SF\ Mono/SFMonoRegular.woff") format("truetype");

}

@font-face {
    font-family: "SF Pro Text";
    src: url("../fonts/the-challange-fonts/SF\ Text/SF-Pro-Text-Regular.otf") format("truetype");

}

@font-face {
    font-family: "New York Medium";
    src: url("../fonts/the-challange-fonts/NewYork/NewYorkMedium-Medium.ttf") format("truetype");

}

@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/the-challange-fonts/SF\ Pro\ Display/SFPRODISPLAYREGULAR.OTF") format("truetype");

}

.image-cover {
    width: 854px;
    height: 533px;
    background: url(../assets/images/imageCover.png);
    background-position: center;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
}

.first-description {

    width: 858px;
    height: 162px;
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    margin: auto;
    padding: 10px;
    margin-bottom: 5%;
}

.article-regtangle {
    width: 304px;
    height: 176px;
    margin: auto;
    padding: 10px;
    margin-bottom: 5%;
    margin-top: 2%;
}

.card-title {
    color: #000000;
    text-decoration: none;
}

.card-text {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    width: 280px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.button-card {
    top: 350px;
    right: 200px;
    position: absolute;
}

.link-article-card {
    color: #000000;
    text-decoration: none;
}


.second-description {
    width: 592px;
    height: 68px;
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #000000;
    margin: auto;
    padding: 10px;
    margin-bottom: 5%;


}


.all-articles {
    width: 225px;
    height: 53px;
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    white-space: nowrap;
    color: #000000;
    margin: auto;
    padding: 10px;
    margin-bottom: 5%;
}

.article-title {
    font-family: "SF Pro Display";
    font-size: 12px;
    text-align: center;

}


.articles-container {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: auto;
    padding: 10px;
    align-items: baseline;
    justify-content: center;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;



}

.article-reg-title {
    font-family: "SF Pro Display";
    font-size: 12px;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-bottom: 5%;
}