* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "New York Extra Large";
    src: url("https://www.fontsquirrel.com/fonts/download/New%20York%20Extra%20Large") format("truetype");

}

@font-face {
    font-family: "SF Mono";
    src: url("https://www.fontsquirrel.com/fonts/download/SF%20Mono") format("truetype");

}

.image-cover{
     
    width: 854px;
    height: 533px;
    left: 293px;
    top: 210px;
    background: url(../assets/images/imageCover.png);
}

.first-description{
     
    width: 858px;
    height: 162px;
    left: 293px;
    top: 787px;   
    font-family: 'New York Extra Large';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    text-align: center;
    color: #000000;

}

.article-regtangle{
width: 304px;
height: 176px;

background: #f6f6f6;
}



.second-description{
     
width: 592px;
height: 68px;
left: 424px;
top: 981px;

font-family: 'SF Mono';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 170%;
/* or 34px */

text-align: center;

color: #000000;
}

.line{
     
width: 640px;
height: 0px;
left: 400px;
top: 1083px;

border: 2px solid #000000;
}

.all-articles{
     
width: 225px;
height: 53px;
left: 608px;
top: 1147px;

font-family: 'New York Extra Large';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 53px;
/* identical to box height */

text-align: center;
white-space: nowrap;    

color: #000000;
}

.article-title{

width: 262px;
height: 78px;


font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 120%;
/* or 26px */

text-align: center;

color: #000000;

}

.articleContainer{
    display: flex;

}
.articleContainer img {
    width: 100px;
    height: 100px;
}